.profile-image { width: 48px; height: 48px; }
.pre-tweet { color: #75F; }
body, th, td { font-family: tahoma, helvetica, arial, sans-serif; font-size: 15px;}
a { color: blue; text-decoration: none; }
a:hover { color: purple; }
.from_friend { font-size: 1.1em; }
.to_friend { font-size: 0.9em; }