<p>Usage: http://flockle.com/[twitter_screen_name]</p>

Sorry about the slowness. This site currently stores nothing and so gets
completely fresh content for every request
(using the <a href="http://apiwiki.twitter.com/">Twitter API</a>).