<p>Usage: http://flockle.com/[twitter_screen_name]</p>

<p>
  Known Bugs:
  <ul>
    <li>Some tweets display multiple times if they were by a friend of the user and also were to a friend of the user.</li>
  </ul>
</p>
