<p>Usage: http://flockle.com/[twitter_screen_name]</p>

<p style="width:500px; text-align:justify;">I'm currently working on 
  displaying any existing tweets (that have been retrieved on previous
  requests and stored in the local database) and then loading new tweets and
  displaying them via javascript.  Expect that in the next few days.</p>
<p>  -- Dave ( 2009-06-14 )</p>