<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD
XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= stylesheet_link_tag 'application.css' %>
  </head>
  <body>
    <%= yield %>
    <script type="text/javascript">
    var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
    document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
    </script>
    <script type="text/javascript">
    UserVoice.Tab.show({ 
      key: 'flockle',
      host: 'flockle.uservoice.com', 
      forum: 'general', 
      alignment: 'right', /* 'left', 'right' */
      background_color:'#06C', 
      text_color: 'white', /* 'white', 'black' */
      hover_color: '#68C',
      lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
    })
    </script>
  </body>
</html>
